@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      Roboto,
      Proxima Nova,
      system-ui,
      sans-serif;
  }
a {
  text-decoration: underline;
  text-decoration-color: #38bdf8;
}
a:hover {
  color: #38bdf8;
  cursor: pointer;
}
}